@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Yu Gothic", sans-serif;
  background-color: #f9f3eb;
  color: #5a2c12;
  line-height: 1.8;
}

a {
  color: #f9f3eb;
}

p {
  color: #f9f3eb;
  line-height: 150%;
  font-size: 15px;
}

header {
  padding: 20px;
  background-color: #3d2d18;
  color: #f9f3eb;
}

header h1 {
  margin-right: auto;
  font-size: 20px;
}

header ul {
  margin-top: 20px;
  display: flex;
  font-size: 15px;
  color: #f9f3eb;
}

header li {
  width: auto;
  margin-right: 20px;
  color: #f9f3eb;
}

.site-header,.site-footer {
  background-color: #3d2d18;
  color: #f9f3eb;
  padding: 30px;
}

section {
  max-width: 1200px;
  padding: 40px;
  margin-bottom: 40px;
  /* text-align: center; */
  background-color: #f9f3eb;
  margin-right: auto;
  margin-left: auto;
}

section h1 {
  margin-bottom: 10px;
  color: #a71919;
}

section p {
  margin-bottom: 40px;
}

section a {
  color: #533f23;
}

.data {
  /* text-align: center; */
  padding: 3rem 1rem;
}

.image-item img {
  width: 100%;
  height: auto;
}

.img-item img {
  width: 100%;
  height: auto;
}

.download-btn {
  display: inline-block;
  width: 250px;
  padding: 20px;
  border-radius: 4px;
  border: none; 
  text-align: center;
  background: #3d2d18;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s ease;
  text-decoration: none;
  font-size: 1rem;
  margin: 3rem 3rem;
}

.download-btn:hover, .download-btn:focus {
  background: #a71919;
}

.back-btn {
  display: inline-block;
  background: #3d2d18;
  color: #fff;
  padding: 0.5em 1.2em;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1rem;
  transition: background 0.3s ease;
  margin: 3rem 3rem;
}

.back-btn:hover {
  background: #a71919;
}

@media screen and (min-width:768px) {

  /*　画面サイズが768px以上の場合読み込む　*/
  h1 {
    font-size: 20pt;
  }
}

@media screen and (min-width:1200px) {

  #about {
    text-align: center;
  }

  .data figure {
    flex: 2;
  }

  .data {
    display: flex;
  }


  .author {
    border: 1px solid #7b4b2c;
    border-radius: 10px;
    padding: 2rem;
    text-align: center;
    margin: 3rem auto;
    width: 1200px;
  }

}

.scroll-infinity {
	overflow: hidden;
}
.scroll-infinity ul {
	animation: marquee-right 20s linear infinite;
	display: flex;
	margin: 0;
	padding: 0;
	width: max-content;
}
.scroll-infinity ul li {
	list-style: none;
	padding: 0 5px;
}
.scroll-infinity img {
	display: block;
	width: 100%;
  height: 100%;
}
@keyframes marquee-right {
	from {
		transform: translateX(0%);
	}
	to {
		transform: translateX(-50%);
	}
}

html {
  scroll-behavior: smooth;
}